$color-text: #ffc107;

body {
    background-color: #111111;
    color: #ffffff;
    position: relative;
    background-image: url('../images/bgs/star-wars-bg-5.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

section {
    @media(min-width:768px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
    }
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    background-image: url('../images/bgs/star-wars-bg-5.jpg');
    background-color: #333333;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.color-text {
    color: $color-text;
}

.game-identity {
    &-box {
        border: 1px solid $color-text;
        padding: 20px;

        @media(min-width:768px) {
            padding: 0;
            height: calc(100vh - 180px);
        }
    }
}

.ranking-list {
    border: 1px solid $color-text;
    padding: 20px;
    overflow-y: scroll;
    height: calc(100vh - 400px);

    li {
        background: rgba(0, 0, 0, 0.2);
        padding: 0 5px;
    }

    @media(min-width:768px) {
        height: calc(100vh - 180px);
    }
}

.game-play {
    &-box {
        border: 1px solid $color-text;
        min-height: calc(100vh - 280px);
        padding: 20px;

        @media(min-width:768px) {
            height: calc(100vh - 220px);
            padding: 0;
        }
    }
}

.game-card-container {
    position: relative;
    margin-bottom: 10px;

    .status-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
}

.card-found {
    cursor: default;
    pointer-events: none;
}

.in-progress {
    cursor: progress;
    pointer-events: none;
}

.game-finished {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -166px;
    width: 100%;
    z-index: 3000;

    @media(min-width:768px) {
        margin-top: 0;
    }

    &-container {
        padding-top: 100%;
        height: 100vh;

        @media(min-width:768px) {
            padding-top: 0;
        }
    }

    &-message {
        width: 80vw;

        @media(min-width:768px) {
            width: 60vw;
        }
    }

}

.game-finished-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 2000;
}

/* flip-card based on https://www.w3schools.com/howto/howto_css_flip_card.asp - 20190602*/
.flip-card {
    width: 56px;
    height: 77px;
    -webkit-perspective: 1000px;
    perspective: 1000px;

    @media(min-width: 768px) {
        width: 72px;
        max-width: 100%;
        height: 98.64px;
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-card.show-card .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
        border: 3px solid $color-text;
    }
}

.flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
